td {
    width: 33px;
    height: 33px;
    text-align: center;
    vertical-align: middle;
    border: 1px solid black;
}

table {
    border: 1px solid black;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
